<section>
	<div class="container">

        <div class="card">
            <div class="card-block">
                <h3 class="card-title">{{t 'navigation.operation.history.title'}}</h3>
                <div class="card-text">
                    <div class="list operations">
                        {{#each model.operations as |operation|}}
                            <div class="list-item d-flex">
                                <strong>{{operation.year}}</strong> <span>{{operation.title}}</span>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>

	</div>
</section>

{{outlet}}