<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-block">
						<h3>Kleinlöschfahrzeug (KLF)</h3>
						<p>
							<strong>Kleinlöschfahrzeug (Baujahr 1998), Tragkraftspritze, Pumpe, Atemschutztechnik</strong>
						</p>
						<p>
							1996 wurde das alte Gerätehaus abgerissen, 1998 das neue übernommen.<br/>Nach einer Nutzungsvereinbarung mit der Gemeinde baute die Feuerwehr 2005 den Vereins und Schulungraum aus.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{{outlet}}