//
// List

.list {

  ul {
    margin-top: 1em;
  }

  .list-item {
    margin-bottom: 2px;
    padding: 1em;
    background: rgba(0, 0, 0, .3);
    display: block;
    border-top: 1px solid transparent;
  }

  .list-link {

    &:hover {
        background: rgba(0, 0, 0, .6);
        text-decoration: none;
        border-top: 1px solid $color-highlighted;
        color: $color-highlighted;
    }

  }

  &.operations {

    strong {
      margin-right: $space-default;
    }

  }

}
