
//
// Navigation

nav {
	margin-top: 90px;
	margin-bottom: 3em;

	img {
		width: 100%;
	}
	
	.btn-link {
		border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;
		color: $text-color-default;
		font-size: 1.2em;
		padding: 0 .6em;

		&:hover {
			border-top: 1px solid $color-highlighted;
			color: $color-highlighted;
			text-decoration: none;
			text-shadow: 0px 1px 1px darken($color-highlighted, $color-offset-default * 10);
		}

		&:focus,
		&.active {
			text-decoration: none;
			color: $text-color-default;
			border-bottom: 1px solid $text-color-default;
		}

	}

}
