<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container" id="navbar">
        
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-list">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/">ORBITAL<span class="tourist">TOURIST</span></a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-list">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#about">About Me</a></li>
                <li><a href="#bandcamp"><i class="fa fa-music"></i>Bandcamp</a></li>
                <li><a href="#discogs"><i class="fa fa-music"></i>Discogs</a></li>
                <li><a href="#soundcloud"><i class="fa fa-music"></i>Soundcloud</a></li>
                <li><a href="#vimeo"><i class="fa fa-video-camera"></i>Vimeo</a></li>
                <li><a href="#youtube"><i class="fa fa-video-camera"></i>Youtube</a></li>
                <li><a href="#imprint">Imprint</a></li>
            </ul>
        </div>

    </div>
</nav>

{{outlet}}
