<section>
  <div class="container">
    <div class="card">
      <h3 class="card-title">Feuerlöschwesen in Kapellendorf</h3>
      <div class="card-text">
<p>Schon im Mittelalter wurden bei so genannten Feuerverordnungen Hausbesitzer und Handwerker verpflichtet, zur Brandbekämpfung benötigte Löschgeräte wie Löscheimer, Stockspritzen (die Funktionsweise ist mit der unserer Luftpumpe vergleichbar) und Einreißhaken auf eigene Kosten anzuschaffen. Die damals schon bekannten, meist aus Holz gefertigten Einstellspritzen dürften wohl als Urahnen der Kübelspritze unserer Tage gelten. Die Löscheimer waren meist aus Leder, Holz, Bast oder Stroh hergestellt und mit dem Namen des Besitzers bzw. mit der Hausnummer versehen. Bei einer Feuersbrunst war man mit diesen Mitteln meistens machtlos. Auch nach der Erfindung der "Feuerspritze" (Kolbenpumpe) blieb in vielen Gemeinden der Löscheimer das am meisten genutzte Gerät zur Brandbekämpfung.
Am Ende des 19. Jahrhunderts war die Eimerkette durchaus keine Seltenheit.</p>

<p>Friedrich Schiller setzte dem Löscheimer in seinem Lied von der Glocke ein Denkmal:
Durch der Hände langer Kette um die Wette fliegt der Eimer, hoch im Bogen, spritzen Quellen Wasserwogen.
"Wohltätig ist des Feuers Macht, wenn sie der Mensch bezähmt, bewacht."</p>

<p>ist ein weiteres Zitat, was auch heute noch seine Gültigkeit hat.</p>

<p>Viele mittelalterliche Städte richteten auf den höchsten Türmen Beobachtungsdienste ein, die ihre Bedeutung erst mit der Erfindung der telegrafischen Feuermeldeanlagen im Jahre 1851 (Siemens) nach und nach verloren.</p>

<p>Es ist überliefert, dass 1717 Kapellendorf an Feuerrüstungsgeräten angeschafft hat:<br/>
2 Spritzen, 7 Handspritzen, 14 Ledereimer, 4 Haken, 3 Leitern, was man für die damalige Zeit als sehr fortschrittlich ansehen kann.</p>

<p>Herzog Ernst August von Weimar ordnete am 24.12.1742 an, dass bei Bränden Holzteller mit Zeichen und Buchstaben ins Feuer geworfen werden sollen. Er glaubte, wie viele andere, dass das Feuer dann verlöschen würde. Diese Anordnung hat den Spott aller fortschrittlichen Geister geradezu herausgefordert und wurde kurze Zeit später wieder zurückgenommen.</p>

<p>Einen großen Fortschritt bei der Brandbekämpfung stellte bereits im 18. Jahrhundert der Einsatz der Handdruckkarrenspritze dar. Diese war aus Holz gebaut und wurde von Pferden gezogen.</p>

<p>In Weimar wurden schon Ende des 18. Jahrhunderts Schläuche aus Leder gefertigt und später auch aus Leinen.</p>

<p>1835 besagt die Feuer- und Löschordnung für Stadt und Land Weimar:<br/>
§ 8: Bei einem Brand auf dem Lande, wo die Zeichen durch weithin vernehmbares Geläute mit vielen Glocken oder durch Kanonenschüsse nicht gegeben werden können, setzen die Feuerläufer die umliegenden Ortschaften mit dem Ruf "Feuer" sofort in Kenntnis und die Sturmglocke wurde solange gezogen, bis dem Feuer Einhalt geboten war.</p>

<p>Im Jahre 1882 wurde die Feuerwehr in Kapellendorf gegründet. Zu diesem Zeitpunkt hatte der Ort 182 Einwohner. Die Feuerwehr bestand aus einer Pflicht- und Freiwilligen Feuerwehr.
Feuerwehrführer war Christian Zitzmann. Es gab einen Oberfeuerwehrmann, einen Zugführer, 12 Spritzenmänner, 6 Feuermänner und 29 Hilfsmänner(Eimermannschaft).
An Ausrüstungsgegenständen waren vorhanden: 2 Handdruckspritzen, 2 Spritzen ohne Wasserkasten, eine 2-Holmsteigleiter, 3 Stützleitern und 2 Feuerleitern.
Im Jahr wurden fünf Übungen verordnet und ein Steigerhaus war vorhanden (vermutlich ehemaliges Brauhaus). Später diente die Leichenhalle neben der Schule als Gerätehaus.
Auf einem Foto aus dem Jahre 1913 sieht man die Kapellendorfer Feuerwehrmannschaft mit ihrem Feuerwehrführer Christian Zitzmann. Die im Hintergrund abgebildete Handdruckspritze wurde vermutlich von H. Sorge, Vieselbach/Erfurt  hergestellt und war sicher bis Ende der 40ziger Jahre im Einsatz. Leider fanden sich für die nachfolgenden Jahre keine weiteren Aufzeichnungen in Gemeinde- oder Kirchenbüchern. Es gibt nur eine chronologische Abhandlung in der Chronik von Kapellendorf von 1900  über Brände und Unwetter, die auf einem gesonderten Blatt dargestellt ist.</p>

<p>In den 50er Jahren wurde ein Tragkraftspritzenanhänger "TSA"-TS-8 angeschafft, 1971 kam ein Kleinlöschfahrzeug B1000 und als neuestes Löschfahrzeug hat die Feuerwehr Kapellendorf 1997 ein Kleinlöschfahrzeug Thüringen "TSF"  Mercedes Sprinter und eine neue Pumpe erhalten.</p>

<p>1996 wurde die alte Feuerspritze wieder restauriert und ist stets bei Feuerwehr - oder Dorffesten mit dabei.</p>

<p>1997/98 konnte mit großzügiger Unterstützung vom Land Thüringen und der Gemeinde Kapellendorf ein neues Gerätehaus gebaut werden. Von den Kameraden wurde das Dachgeschoss als Schulungsraum in Eigenleistungen ausgebaut. Zur Zeit beträgt die Feuerwehrstärke 17 aktive Kameraden mit unserem Ortsbrandmeister Jochen Schmidt. Leider haben wir große Nachwuchssorgen und würden uns wünschen, dass sich mehr Kapellendorfer Jugendliche für die Feuerwehr interessieren.</p>

<p>Denn stellt Euch vor, es brennt und keiner kommt löschen!</p>

<p>
  Gerhard Berndt<br/>
  FFW Kapellendorf
</p>
      </div>
    </div>
  </div>
</section>

{{outlet}}