<section>
	<div class="container">
		<div class="nav nav-pills nav-fill" role="tablist">
		  <div class="nav-item">
				{{#link-to "operation.technology" class="nav-link"}}
					{{t "navigation.operation.technology.title"}}
				{{/link-to}}
		  </div>
		  <div class="nav-item">
				{{#link-to "operation.members" class="nav-link"}}
					{{t "navigation.operation.members.title"}}
				{{/link-to}}
		  </div>
			<div class="nav-item">
				{{#link-to "operation.history" class="nav-link"}}
					{{t "navigation.operation.history.title"}}
				{{/link-to}}
		  </div>
		</div>
	</div>
</section>

{{outlet}}
